<form action="/bookmarks" method="post">
Input URL:<input type="text" name="url" placeholder="URL address">
Input Title:<input type="text" name="title" placeholder="Title">
<input type="submit" value="submit">
</form>
<ol>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark["url"] %>"><%= bookmark["title"] %></a></li>
  <% end %>
</ol>